Week1/* linguist-documentation=false
Week1/* linguist-vendored=false
Week2/* linguist-documentation=false
Week2/* linguist-vendored=false
Week3/* linguist-documentation=false
Week3/* linguist-vendored=false
Week4/* linguist-documentation=false
Week4/* linguist-vendored=false
Week5/* linguist-documentation=false
Week5/* linguist-vendored=false
Week6/* linguist-documentation=false
Week6/* linguist-vendored=false
*.c linguist-language=C
