
*.jar
*.pom
.DS_Store
Courses/CS61B/library-sp23/
Courses/Qiskit/notes/template.tex
Courses/Qiskit/notes/aux/
Courses/Qiskit/notes/pdf/template.pdf
Courses/Qiskit/notes/pdf/template.synctex.gz
Courses/Qiskit/notes/pdf/multiple_systems.pdf
Courses/Qiskit/notes/pdf/mutliple_systems.synctex.gz